.git
.codex
.cursor
.idea
.nova
.phpunit.cache
.vscode
.zed
node_modules
public/build
public/hot
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
vendor

